* {
  font-family: "Lateef", cursive;
}

h1 {
  font-family: "El Messiri", sans-serif;
  letter-spacing: 50px;
  text-align: center;
}

.input {
  width: 150px;
  font-size: 20px;
}

.log-button {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 20px;
}

.both-containers {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.trackers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.image {
  width: 50px;
  height: 25%;
}

#trash-image {
  /* display: flex;
  flex-direction: row; */
  position: fixed;
  right: 100px;
  top: 35%;
  /* bottom: 10px; */
}

.mem-box {
  /* margin-top: 20px; */
  border: 2px solid black;
  width: 30%;
  height: 400px;
  padding-left: 10px;
  overflow: auto;
}
